backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.9.6.2
cffi==1.1.0
greenlet==0.4.7
py==1.4.30
pytest==2.8.2
readline==6.2.4.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
wsgiref==0.1.2
